:root {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  --color-primary: aqua;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  display: inline-block;
}


img {
  width: 100%;
  height: auto;
}

.banner {
  width: 100%;
  height: auto;
}
.header{
  background-color: white;
}
.header__logo {
  background-color: #fff;
  width: 240px;
  height: auto;
  margin: 32px auto;
}

.header__navbar {
  width: 100%;
  max-width: 100%;
  margin-bottom: 62px;
}

.header__navbar ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header__navbar ul li a {
  color: white;
  transition: all ease 0.5s;
}

.header__navbar ul li a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.figures {
  max-width: 1440px;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}

.figures figure {
  max-width: 328px;
  width: 300px;
}

.figures figcaption {
  text-decoration: underline red;
  width: 100%;
  background-color: var(--color-primary);
  height: 80px;
  line-height: 80px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: -6px;
}

p{
  text-decoration: none;
  box-shadow: 0 3px tomato;
  padding: 4px;
  color: white;
}